@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Work Sans", sans-serif;
}
.playfair-display {
  font-family: "Playfair Display", serif;
}
.menu li > *:not(ul, .menu-title, details, .btn).active {
  background-color: transparent;
  border: 1px solid #23be0a;
  color: black;
}
.btn1,
.btn2 {
  background-color: #23be0a;
  border: none;
  color: white;
}
.btn2 {
  background-color: #59c6d2;
}
.table td {
  padding-top: 0;
  padding-left: 0;
}
